<!DOCTYPE html>
<html>
<head>
    <title>Valyuta Operatsiyasi</title>
</head>
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'main' %}">Asaka Bank</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'buy' %}">Valyuta Ayirboshlash <span
                        class="sr-only">(current)</span></a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'sell' %}">Valyuta Sotish</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
            {#            </li>#}
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>
<div class="container">
    <div class="content col-sm-12">
        <br><br>
        <h1>Asaka Bank</h1>
        <br><br><br>
        <p>009002 -- Sotib Olish</p>
        <p>000907 -- Sotish</p>
        <form>
            <div class="form-group">
                <label for="{{ myform.summa.id_for_label }}">Summa</label>
                <input type="text" class="form-control" id="{{ myform.summa.id_for_label }}"
                       placeholder="Summani kirting">
            </div>
            <div class="form-group">
                <label for="{{ myform.case.id_for_label }}">Shaklni tanlang</label>
                <select class="form-control" id="{{ myform.case.id_for_label }}">
                    <option value=""></option>
                    {% for i in cases %}
                        <option value="{{ i.id }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{ myform.rate.id_for_label }}">Valyutani tanlang</label>
                <select class="form-control" id="{{ myform.rate.id_for_label }}">
                    <option value=""></option>
                    {% for i in rates %}
                        <option value="{{ i.id }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{ myform.customer_name.id_for_label }}">Mijoz ismi va familiyasi</label>
                <input type="text" class="form-control" id="{{ myform.customer_name.id_for_label }}"
                       placeholder="Ism va familiyani kiriting">
            </div>
            {#            <div class="form-group">#}
            {#                <label for="{{ myform.total_sum.id_for_label }}">{{ myform.total_sum.html_name }}</label>#}
            {#                <input type="text" class="form-control" id="{{ myform.total_sum.id_for_label }}"#}
            {#                       placeholder="Enter case">#}
            {#            </div>#}
            <input id="username" value="{{ user.id }}" hidden>
            <input id="detail_url" value="" hidden>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //var csrftoken = getCookie('csrftoken');

    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    });
    $(function () {
        $("#submit").on('click', function () {
            data = {
                'user': $('#username').val(),
                'summa': $('#id_summa').val(),
                'rate': $('#id_rate').val(),
                'case': $('#id_case').val(),
                'total_sum': $('#id_total_sum').val(),
                'customer_name': $('#id_customer_name').val()
            };
            $.ajax({
                url: '/exchange/',
                method: 'POST',
                datatype: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(data),
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(data);
                    console.log(xhr);
                    console.log(thrownError);
                    alert(xhr.responseText);
                },
                success: function (response) {
                    window.location.href = '{% url 'main' %}'
                    console.log(response);
                }
            })
        })
    })
</script>
</body>
</html>